
*{
	box-sizing: border-box;
}

body {
	margin:0;
	padding: 0;
	background-color: #F8F7F5 ;
}

/*Header styling*/
#home_header {
	display: flex;
	width: 100%;
	color: white;
	background-color: black;
	justify-content: space-between;
	padding-right: 0.5vw;
	padding-left: 0.5vw;
}

#home_header h2{
	font-size: 1.3rem;
}
#home_header a img{
	height: 50px;
	width: 50px;
	padding-top: 5px;
}

#Website_title{
	font-family: Courier, monospace;
}

/*Styling the index page*/
#HomeLinks{
	display: flex;
	padding-top: 12vw;
	padding-bottom: 15vh;
	justify-content: space-around;
}

.home_buttons{
	width: 20vw;
	background-color: black;
	color: white;
	text-align: center;
	height: 25vw;
	border-radius: 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: white;
	font-family: 'Brush Script MT', cursive;
	font-size: 2vw;
	display: grid;
}


#HomeLink1{
	background-image: url(../image/search.png);
	background-size: 17vw 17vw;
	background-repeat: no-repeat;
	background-position: center;
}

#HomeLink2{
	background-image: url(../image/reserve.png);
	background-size: 17vw 17vw;
	background-repeat: no-repeat;
	background-position: center;
}

#HomeLink3{
	background-image: url(../image/book.png);
	background-size: 17vw 17vw;
	background-repeat: no-repeat;
	background-position: center;
}

footer{
	background-color: black;
	height: 15vh;
	text-align: center;
}

footer div{
	padding-top: 5vh;
	text-align: center;
}

footer div p{
	margin: none;
}

#LogOut{
	width: 100%; 
	text-align: center;
}

footer div p a{
	text-decoration: none;
	color: black;
	background-color: white;
	padding-right:2vw;
	padding-left:2vw;
	padding-top:0.5vw;
	padding-bottom:0.5vw;
	font-family: Monaco, monospace;
	border-radius: 40px;
}

/*login page styling*/
#Website_title_login{
	text-align: center;
	background-color: black;
	height: 60px;
}


#Website_title_login h2{
	color: white;
	font-family: Courier, monospace;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	padding-top: 17px;
}

#LoginForm h3{
	color: white;
}